absl-py
accelerate
annotated-types
asgiref
astunparse
benepar
blis==0.7.8
blinker
breadability
catalogue
certifi
chardet
charset-normalizer
click
cloudpathlib
colorama
confection
contourpy
cycler
cymem
dj-database-url
Django
django-jazzmin
docopt
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
filelock
Flask
flatbuffers
fonttools
fsspec
gast
google-pasta
grpcio
gunicorn
h5py
huggingface-hub
idna
itsdangerous
Jinja2
joblib
keras
kiwisolver
langcodes
language_data
libclang
lxml
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
mpmath
murmurhash
mysql
mysqlclient
namex
networkx
nltk
npm
numpy
opt_einsum
optional-django
optree
packaging
pandas
pillow
preshed
protobuf
psutil
psycopg2-binary
pycountry
pydantic
pydantic_core
pygame
Pygments
pyodbc
pyparsing
python-crfsuite
python-dateutil
pytz
pyvi
PyYAML
regex
requests
rich
safetensors
scikit-learn
seaborn
sentencepiece
shellingham
six
sklearn-crfsuite
smart-open
spacy
spacy-legacy
spacy-loggers
spicy
sqlparse
srsly
sumy
sympy
tabulate
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
thinc
threadpoolctl
tokenizers
torch
torch-struct
tqdm
transformers
typer
typing_extensions
tzdata
underthesea
underthesea_core
urllib3
vncorenlp
wasabi
weasel
Werkzeug
wrapt
