<link href="/static/css/login.css" rel="stylesheet">
{% extends 'finance/base_generic.html' %}
{% load custom_filters %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Đăng Nhập</h2>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Tên đăng nhập</label>
                    {{ form.username|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.password.id_for_label }}">Mật khẩu</label>
                    {{ form.password|add_class:"form-control" }}
                </div>
                <button type="submit">Đăng Nhập</button>
            </form>
            <div class="text-center mt-3">
                <a href="{% url 'register' %}">Đăng ký</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
